.pelicula-lista{
    width: 35vh;
    height: 55vh;
    background-color: beige;
}

@media (max-width: 991px){
    .pelicula-lista{
        width: 45vh;
        height: 67vh;
    }
    .row .col-lg-3{
        display: flex;
        justify-content: center;
    }
}

.titulo-lista{
    text-decoration: none;
    color: white;
}

#reproductor{
    margin-bottom: 30px;
    margin-top: 30px;
    width: 70vw;
    height: 90vh;
}
