.color-navegacion{
    background: linear-gradient(60deg,#ab47bc,#7b1fa2);
    ﻿

    /*background: linear-gradient(to right top, #1f1658, #4f2a7a, #81409b, #b556bb,#ed6dd8);*/
}

.logo h1{
    margin-bottom: 0;
    padding: 10px;
}

a.enlace:hover{
    background-color: #7b1fa2;
}
