.color-navegacion{
    background: linear-gradient(60deg,#ab47bc,#7b1fa2);
}

.logo h1{
    margin-bottom: 0;
    padding: 10px;
}

a.enlace:hover{
    background-color: #7b1fa2;
}

.error{
    color: red;
}

.imgPerfil{
    height: 30px;
    width: 30px;
}

.p{
    height: 100%!important;
    border-radius: 50%;
}