.color-navegacion{
    background: linear-gradient(60deg,#ab47bc,#7b1fa2);
    
    /*background: linear-gradient(to right top, #1f1658, #4f2a7a, #81409b, #b556bb,#ed6dd8);*/
}

.logo h1{
    margin-bottom: 0;
    padding: 10px;
}

a.enlace:hover{
    background-color: #7b1fa2;
}

#e-carrusel-1{
    background-image: url(https://cdn.pixabay.com/photo/2020/04/20/18/10/cinema-5069314_1280.jpg);
    background-size: cover;
    background-position: center;
}

#e-carrusel-2{
    background-image: url(https://cdn.pixabay.com/photo/2017/11/24/10/43/ticket-2974645_1280.jpg);
    background-size: cover;
    background-position: center;

}

#e-carrusel-3{
    background-image: url(https://cdn.pixabay.com/photo/2017/11/24/10/43/analogue-2974647_1280.jpg);
    background-size: cover;
    background-position: center;
}
.error{
    color: red;
}

.imgPerfil{
    height: 30px;
    width: 30px;
}

.p{
    height: 100%!important;
    border-radius: 50%;
}
